<h1 class="font-monospace"> Create </h1>

<form method="post">
	<label class="form-label">Id Doctor: </label>
	<input class="form-control" type="text" name="idDoctor" />
	<label class="form-label">Apellido: </label>
	<input class="form-control" type="text" name="apellido" />
	<label class="form-label">Especialidad: </label>
	<input class="form-control" type="text" name="especialidad" />
	<label class="form-label">Salario: </label>
	<input class="form-control" type="text" name="salario" />
	<label class="form-label">Id Hospital: </label>
	<input class="form-control" type="text" name="idHospital" />
	<button class="btn btn-dark mt-3">
		Insertar Doctor
	</button>
</form>